/* .title {
    font-size: 1.4rem;
    color: #1b4332;
    margin-bottom: 16px;
  }
  
  .searchInput {
    width: 100%;
    padding: 10px 14px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.05);
  }
  
  .table th,
  .table td {
    padding: 12px 16px;
    border-bottom: 1px solid #eee;
    text-align: left;
  }
  
  .table th {
    background-color: #2d6a4f;
    color: white;
  }
  
  .table tr:hover {
    background-color: #f1f1f1;
  }
  
  .empty {
    text-align: center;
    font-style: italic;
    color: #888;
  }
  
  .pagination {
    display: flex;
    justify-content: center;
    gap: 6px;
    max-width: 400px;
  }
  
  .pagination button {
    padding: 6px 10px;
    background-color: #6b6a6a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #ccc;
  }
  
  .activePage {
    background-color: #2d6a4f !important;
    color: white;
    font-weight: bold;
  }

  .adddiv{

    display: flex;
    justify-content: space-between;

  }

  .addButton {
    max-width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2d6a4f;
    color: white;
    border: 0px;
    font-weight: bold;
  }
  .addButton:hover{
    background-color: rgb(70, 130, 70);
  } */



  .container {
    padding: 30px;
    background-color: #f9fafb;
    min-height: 100vh;
  }
  
  .title {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 5px;
    color: #1f2937;
  }
  
  .subtitle {
    font-size: 1rem;
    color: #6b7280;
    margin-bottom: 30px;
  }
  
  .cardGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 24px;
  }
  