.container {
  padding: 30px;
  background-color: #f9f9f9;
  min-height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header h2 {
  font-size: 1.8rem;
  color: #1b4332;
}

.header button {
  background-color: #2d6a4f;
  color: white;
  padding: 10px 18px;
  font-size: 1rem;
  border: none;
  border-radius: 6px;
  max-width: 200px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header button:hover {
  background-color: #40916c;
}

.filters {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.filters input,
.filters select {
  padding: 10px 12px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  min-width: 220px;
  transition: border 0.3s ease;
}

.filters input:focus,
.filters select:focus {
  border-color: #2d6a4f;
}

.table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.table th,
.table td {
  padding: 14px 18px;
  text-align: left;
  font-size: 0.95rem;
}

.table th {
  background-color: #2d6a4f;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f1f1f1;
}

.table tr:hover {
  background-color: #e6f4ea;
}

.pagination {
  display: flex;
  justify-content: start;
  gap: 8px;
  margin: 20px;
  width: 500px;
}

.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 14px;
  border: 1px solid #ccc;
  background-color: white;
  color: #333;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.2s ease;
  max-width: 30px;
}

.pagination button:hover {
  background-color: #2d6a4f;
  color: white;
}

.pagination .active {
  background-color: #40916c;
  color: white;
  font-weight: bold;
  border: none;
}

.actions {
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  color: black;
}

.editBtn,
.deleteBtn,
.suspendBtn {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  transition: transform 0.2s ease;
  color: black;
}

.editBtn:hover {
  color: #2d6a4f;
  transform: scale(1.1);
}

.deleteBtn:hover {
  color: #d00000;
  transform: scale(1.1);
}

.active {
  color: green;
  font-weight: 600;
}

.suspendBtn:hover {
  color: #edaf68;
  transform: scale(1.1);
}

.suspended {
  color: #cf0d0d;
  font-weight: 600;
}

.suspendBtn {
  padding: 6px 10px;
  /* background: #d68c02; */
  border: none;
  border-radius: 6px;
  color: black;
  cursor: pointer;
  transition: background 0.3s;
}

[disabled] {
  background: #ecebeb;
  color: rgb(138, 138, 138);
  cursor: not-allowed;
}

[disabled]:hover {
  color: rgb(138, 138, 138);
  transform: none;

}

.suspendBtn:hover {
  background: #e07b00;
}

.filterBar {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
  margin-bottom: 16px;
  /* max-width: 500px; */
}

.filterBar label {
  font-weight: 500;
}

.filterBar select {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  max-width: 200px;
}
